openapi: 3.0.3
info:
  title: API.Rasp.Yandex.Net
  description: API Яндекс.Расписаний
  version: 3.0.0
servers:
- url: https://api.rasp.yandex.net
tags:
- name: Список ближайших станций
  description: Запрос позволяет получить список станций, находящихся в указанном радиусе от указанной точки.
- name: Информация о перевозчике
  description: Запрос позволяет получить информацию о перевозчике по указанному коду перевозчика.
- name: Копирайт Яндекс Расписаний
  description: Запрос позволяет получить данные о Яндекс Расписаниях.
paths:
  /v3.0/nearest_stations/:
    get:
      tags:
      - getNearestStations
      summary: Список ближайших станций
      operationId: getNearestStations
      parameters:
      - name: apikey
        in: query
        description: API key
        required: true
        schema:
          type: string
      - name: lat
        in: query
        description: широта
        required: true
        schema:
          type: number
      - name: lng
        in: query
        description: долгота
        required: true
        schema:
          type: number
      - name: distance
        in: query
        description: радиус охвата
        required: true
        schema:
          type: integer
      - name: format
        in: query
        description: json или xml
        required: false
        schema:
          type: string
          enum:
            - json
            - xml
          default: json
      - name: lang
        in: query
        description: lang
        required: false
        schema:
          type: string
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stations'
  /v3.0/carrier/:
    get:
      tags:
      - getCarrier
      summary: Информация о перевозчике
      operationId: getCarrier
      parameters:
      - name: apikey
        in: query
        description: API key
        required: true
        schema:
          type: string
      - name: code
        in: query
        description: Код перевозчика
        required: true
        schema:
          type: string
      - name: system
        in: query
        description: Система кодирования
        required: false
        schema:
          type: string
          enum:
            - yandex
            - iata
            - sirena
            - express
            - esr
          default: yandex
      - name: format
        in: query
        description: json или xml
        required: false
        schema:
          type: string
          enum:
            - json
            - xml
          default: json
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Carriers'
  /v3.0/copyright/:
    get:
      tags:
      - getCopyright
      summary: Копирайт Яндекс Расписаний
      operationId: getCopyright
      parameters:
      - name: apikey
        in: query
        description: API key
        required: true
        schema:
          type: string
      - name: format
        in: query
        description: json или xml
        required: false
        schema:
          type: string
          enum:
            - json
            - xml
          default: json
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Copyright'
components:
  schemas:
    Stations:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
        stations:
          type: array
          items:
            $ref: '#/components/schemas/Station'
    Pagination:
      type: object
      properties:
        total:
          type: integer
        limit:
          type: integer
        offset:
          type: integer
    Station:
      type: object
      properties:
        type:
          type: string
        title:
          type: string
        short_title:
          type: string
        popular_title:
          type: string
        code:
          type: string
        lat:
          type: number
        lng:
          type: number
        station_type:
          type: string
        station_type_name:
          type: string
        transport_type:
          type: string
        distance:
          type: number
        majority:
          type: integer
        type_choices:
          $ref: '#/components/schemas/Schedule'
    Schedule:
      type: object
      properties:
        desktop_url:
          type: string
        touch_url:
          type: string
    Carriers:
      type: object
      properties:
        carrier:
          $ref: '#/components/schemas/CarriersItems'
        carriers:
          type: array
          items:
            $ref: '#/components/schemas/CarriersItems'
    CarriersItems:
      type: object
      properties:
        code:
          type: integer
        contacts:
          type: string
        url:
          type: string
        title:
          type: string
        phone:
          type: string
        codes:
          $ref: '#/components/schemas/CarrierCodes'
        address:
          type: string
        logo:
          type: string
        email:
          type: string
    CarrierCodes:
      type: object
      properties:
        code:
          icao: string
        sirena:
          type: string
        iata:
          type: string
    Copyright:
      type: object
      properties:
        copyright:
          $ref: '#/components/schemas/CopyrightItems'
    CopyrightItems:
      type: object
      properties:
        logo_vm:
          type: string
        url:
          type: string
        logo_vd:
          type: string
        logo_hy:
          type: string
        logo_hd:
          type: string
        logo_vy:
          type: string
        logo_hm:
          type: string
        text:
          type: string
